<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/admin/users">Utilisateurs</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Produits
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/admin/pizza">Pizzas</a></li>
            <li><a class="dropdown-item" href="/admin/ingredient">Ingrédients</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <a href="/logout" class="btn btn-danger">Se déconnecter</a>
  </div>
</nav>
</header>
<div class="container">
<h1>Bienvenue {{current}}</h1>
<a href="/admin/users/add">Ajouter un nouveau utilisateur</a>
<div class="d-flex">
<table class="table table-striped me-5">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Email</th>
      <th scope="col">Adresse</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
      <th scope="row">{{this.name}}</th>
      <td>{{this.firstname}}</td>
      <td>{{this.email}}</td>
      <td>{{this.adresse}} {{this.cp}} {{this.ville}}</td>
      <td><a href="/admin/users/edit/{{this.id}}">Editer</a> || <a href="/admin/users/delete/{{this.id}}">Supprimer</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<aside class="border border-dark ms-5" id="reelTime">

</aside>
</div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/connection.io.js"></script>